/* Navbar */
.navbar-nav{
    margin-left: auto;
}

.navbar-custom{
    background-color: #73A4BD;
}

/* Background Color */
body{
    background-color: beige;
}



/* About Me Section */
#aboutme{
    padding-top: 20%;
    font-size: 350%;
    
}

.paragraph{
    padding-left: 10%;
    padding-top: 5%;
    font-size: 120%;
}

#white{
    background-color: lemonchiffon;
}

/* Image */
#picture{
    padding-top: 20%;
}

img{
    border-radius: 8%;
    border: 8px lightblue;
}

/* Portfolio Section */

#header{
    padding-top: 10%;
    font-size: 350%;
}

.card{
    background-color:lemonchiffon;
}

.btn{
    background-color: #73A4BD;
}

#space{
    margin-top: 10%;
}

#space2{
    margin-top: 10%;
    border: 1px solid transparent;
}

#contact{
    padding-top: 10%;
    font-size: 350%;
}


/* Dev Tools */


/* Border around columns + rows */

 /* .container div{  
    border: 1px solid red
  }
*/

